/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/


/* ALl elements will recieve this behavior */

*,
*::after,
*::before {
    /* margin and padding 0 so there is a clean slate for our elements. */
    margin: 0;
    padding: 0;
    /* Makes all children inherit box-sizing attr. */
    box-sizing: inherit;
}

html {
    /* Set at 10px so that all rem will be based off of 10. */
    /* Uses the browser base font so it fits the users settings of 16px and setting it by a percent */
    font-size: 62.5%;
}

body {
    /* Better practice to have font changes in body tag rather than universal tag */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: #777;
    /* adds border around the entire body */
    padding: 3rem;
    /* changes the box model so that borders and padding is not added to total hight and width to an element */
    box-sizing: border-box;
}

.header {
    height: 95vh;
    background-image: linear-gradient( to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
    /* preserves ratio while fitting image in the container with the smallest possible size. No empty space is left*/
    background-size: cover;
    /* Ensure that the top of the image always stays at the top of the container */
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header__logo {
    height: 3.5rem;
}

.header__text-box {
    /* This allows us to center the el inside the parent. top and left shift the children 50%... So that the top left border of the el are in the center. Transform then moves the box so that the middle of that el is where top and left have positioned them   */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: white;
    text-transform: uppercase;
    /* Trick for fixing the shaking of animations */
    backface-visibility: hidden;
    margin-bottom: 3rem;
}

.heading-primary--main {
    /* Block will allow the el to take up the entire width inside the parent el */
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    /* Animation */
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    /* Animation */
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}


/* For perfomance it is best to only alter 2 properties */

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    70% {
        transform: translateX(2rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    70% {
        transform: translateX(-2rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Adding link sudo class, styles elements under a special situation 
Link: matches links that have not been visited, visited: link that has been visited. */

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 1.5rem;
    /* sets the time and creates a smooth transition between states */
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
}


/* Button moves up when you hover */

.btn:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, .20);
}


/* When clicked button gets pushed down, its in relation to the original state of the button, so it appears the button is getting pushed down even though we are actually setting the button to move up 1px */

.btn:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1.5rem 0 rgba(0, 0, 0, .20);
}

.btn--white {
    color: #777;
    background-color: white;
}

.btn::after {
    /* Content is always neccessary when using an after suedo element */
    content: "";
    display: inline-block;
    /* This will have the same dimensions of the parent (button) */
    height: 100%;
    width: 100%;
    border-radius: 1.5rem;
    /* transform: scale(); */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn--white::after {
    background-color: white;
}

.btn:hover::after {
    transform: scalex(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 1.5s ease-out .65s;
    /* Will set style of the button before the animation starts to 0% */
    animation-fill-mode: backwards;
}